@import "tailwindcss";

@theme {
  --color-primary: #ef5a6f;
  --color-darkPrimary: #a21024;
  --color-SlowPrimary: #f8b9c2;

  --color-subPrimary: #536493;
  --color-slowSubPrimary: #7c8cb6;
  --color-SuperSlowSubPrimary: #eff1f6;

  --color-backgroundcolor: #fff1db;
  --color-darkBackgroundcolor: #d4bdac;

  /* Extra Small Screen */
  --breakpoint-xs: 22rem;
}

@font-face {
  font-family: "IranYekan";
  src: url("../font/IRANYekanXFaNum-Light.woff2") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "IranYekan";
  src: url("../font/IRANYekanXFaNum-Regular.woff2") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "IranYekan";
  src: url("../font/IRANYekanXFaNum-Bold.woff2") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "IranYekan";
  src: url("../font/IRANYekanXFaNum-Black.woff2") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "IranYekan";
  src: url("../font/IRANYekanXFaNum-ExtraBlack.woff2") format("truetype");
  font-weight: 900;
}

* {
  font-family: "IranYekan";
  direction: rtl;
}

.man {
  border-radius: 100% 35% 35% 35%;
}

@keyframes wiggle-body {
  0% {
    border-radius: 100% 100% 50% 50%;
  }
  50% {
    border-radius: 85% 85% 100% 100%;
  }
  100% {
    border-radius: 100% 100% 50% 50%;
  }
}
.animate-wiggle-body {
  animation: wiggle-body 2s ease-in-out infinite;
}
